//- template.pug
html
  head
    style
      include style.css
      
h1(class='title') AyeSpy Comparison Report

div(class='wrapper')
  each report in reportsData
      div
        h3(class='header') #{report.label}
        a(href=report.baseline) 
            img(class='screenshot', src=report.baseline)
        a(href=report.latest) 
            img(class='screenshot', src=report.latest)
        a(href=report.comparison) 
            img(class='screenshot', src=report.generatedDiff)
